*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

nav.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 5px 0 0 rgb(255, 94, 0);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.menu-lateral:hover{
    width: 300px;
}

.expandir{
    width: 100%;
    padding-left: 10px;
}

.expandir i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: 1s;
}

ul li.item-menu:hover{
    background: rgb(255, 94, 0);
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .link{
    margin-left: 40px;

}

ul li.item-menu a .icon i{
    font-size: 30px;
}


header{
    background-color: #ff6600;
    height: 130px;
    display: flex;


}

header div img{
    width: 125px;
}

.agavi{
    margin-left: 1350px;
    height: 160px;
    width: 140px;
    margin-top: -5px;
    position: fixed;
}

.an{
    margin-left: 720px;
    margin-top: 20px;
    width: 140px;
    position: fixed;
    background-color: white;
    border-radius: 5px;
}

.ccm{
    margin-left: 100px;
    position: fixed;
    margin-top: 3px;
}



